* {
    margin:0;
    padding: 0;
}
html {
    scroll-behavior:smooth;
}

.body {
    height: 100vh; 
    width: 100%;
}

.body>img {
    margin:0px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

.topDiv {
    z-index: 1;
    position: relative;
    height: 100%;
    text-align: center; 
}

.topDiv>h1 {
    padding-top: 50px;
}

.topDiv>button {
    margin-top: 250px;
    background-color: rgb(243, 152, 61, 1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.topDiv>button:hover {
    transform: scale(1.1);
}



.arrowDiv img {
height: 30px;
}

.arrowDiv img:hover {
    transform: scale(1.1);
}

.arrowDiv {
    position: absolute;
    top: 88%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.bottomDiv {
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center; 
    display: flex;
    flex-direction: column;
    background-color: rgba(243, 152, 61, 0.35)
}

.bottomTextDiv {
    overflow: hidden;
}

.bottomTextDiv>h3:nth-child(1) {
    margin-top: 8%;
}

.bottomTextDiv>h3 {
    padding: 25px;
    color:whitesmoke;
}

.bottomTextDiv>h3:hover {
    transform: scale(1.5);
}